/* Fonts */

@font-face {
    font-family: "Public Sans Thin";
    src: url("/fonts/public-sans/PublicSans-Thin.woff2") format("woff2"),
        url("/fonts/public-sans/PublicSans-Thin.woff") format("woff");
}

@font-face {
    font-family: "Public Sans Light";
    src: url("/fonts/public-sans/PublicSans-Light.woff2") format("woff2"),
        url("/fonts/public-sans/PublicSans-Light.woff") format("woff");
}

@font-face {
    font-family: "Public Sans Regular";
    src: url("/fonts/public-sans/PublicSans-Regular.woff2") format("woff2"),
        url("/fonts/public-sans/PublicSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Public Sans Medium";
    src: url("/fonts/public-sans/PublicSans-Medium.woff2") format("woff2"),
        url("/fonts/public-sans/PublicSans-Medium.woff") format("woff");

}

@font-face {
    font-family: "Public Sans Bold";
    src: url("/fonts/public-sans/PublicSans-Bold.woff2") format("woff2"),
        url("/fonts/public-sans/PublicSans-Bold.woff") format("woff");
}

@font-face {
    font-family: "Public Sans Extra Bold";
    src: url("/fonts/public-sans/PublicSans-ExtraBold.woff2") format("woff2"),
        url("/fonts/public-sans/PublicSans-ExtraBold.woff") format("woff");
}

/* Root settings */

:root {
    --color-1: #3333A3;
    --color-2: #212121;
    --color-3: #c9c9c9;
    --color-4: #ffffff;
    --color-5: #8484c7;
    --color-6: #eaeaf5;
    --color-7: #757575;
    --color-8: #212463;
    --font-1: "Public Sans Extra Bold", sans-serif;
    --font-2: "Public Sans Bold", sans-serif;
    --font-3: "Public Sans Regular", sans-serif;
    --font-4: "Public Sans Thin", sans-serif;
    --font-5: "Public Sans Light", sans-serif;
    --size-1: 0;
    --size-2: 0.0625rem;
    --size-3: .25rem;
    --size-4: .5rem;
    --size-5: .625rem;
    --size-6: 1rem;
    --size-7: 1.2rem;
    --size-8: 1.5625rem;
    --size-9: 2rem;
    --size-10: 3rem;
    --size-11: 4.675rem;
    --size-12: 10rem;
    --size-13: 12.5rem;
    --size-14: 15rem;
    --size-15: 18.75rem;
    --size-16: 25rem;
    --bs-body-font-size: 1.1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
}

/* General */

body {
    color: var(--color-2);
    font-family: var(--font-3);
}

a, a:visited, a:hover {
    color: var(--color-1);
}

img.shadow {
    filter: drop-shadow(-8px 8px 0 #c9c9c9);
}

.lead {
    font-family: var(--font-5);
}

/* Headings */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    letter-spacing: -.02em;
}

h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited, .h1 a, .h1 a:visited, .h2 a, .h2 a:visited, .h3 a, .h3 a:visited, .h4 a, .h4 a:visited, .h5 a, .h5 a:visited, .h6 a, .h6 a:visited, .display-1 a, .display-1 a:visited, .display-2 a, .display-2 a:visited, .display-3 a, .display-3 a:visited, .display-4 a, .display-4 a:visited, .display-5 a, .display-5 a:visited, .display-6 a, .display-6 a:visited {
    text-decoration: dotted !important;
}

/* Styles with bold */

.navbar-brand, .breadcrumb, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    font-family: var(--font-1) !important;
}

/* Badge */

.badge {
    border-radius: var(--size-3);
    font-family: var(--font-3) !important;
    padding: var(--size-4);
}

.badge-primary {
    background: var(--color-1);
    border: var(--size-2) solid var(--color-1);
    color: var(--color-4);
}

.badge-secondary {
    background: var(--color-4);
    border: var(--size-2) solid var(--color-1);
    color: var(--color-1);
}

.badge-light {
    background: var(--color-4);
    border: var(--size-2) solid var(--color-4);
    color: var(--color-1);
}

/* Navbar */

.navbar-toggler {
    color: var(--color-4);
    border-color: var(--color-8);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Cards */

.card {
    width: 100%;
}

.card-shadow {
    filter: drop-shadow(-8px 8px 0 #c9c9c9);
}

.card-shadow:hover {
    background: #212463 !important;
    transition: all 0.3s ease;
    filter: drop-shadow(-8px 8px 0 #adadad);
}

.footer-connect a, .social a {
    text-decoration: none !important;
}

.social a {
    margin-right: var(--size-5) !important;
}

.post h2, .post h3, .post h4 {
    padding-bottom: var(--size-6);
    padding-top: var(--size-6);
}

.post p, .post ul {
    padding-bottom: var(--size-4);
}

blockquote {
    border-left: var(--size-3) solid var(--color-1);
    font-size: var(--size-8);
    margin-left: var(--size-9);
    padding: var(--size-1) var(--size-9);
    margin-bottom: var(--size-9);
    margin-top: var(--size-9);
}

/* Pagination */

.pagination li.page-item {
    font-family: var(--font-1);
    font-size: var(--size-6);
}

.page-item.active .page-link {
    background-color: var(--color-1);
    border-color: var(--color-1);
}

.pagination .page-item:not(.active)>* {
    border-color: var(--color-3) !important;
}

.pagination a {
    text-decoration: none;
    color: var(--color-2);
}

/* Lists */

.list-group-item {
    border: none;
    padding: var(--size-7) var(--size-6) var(--size-7) var(--size-1);
}

/* Images */

img {
    height: auto;
    max-width: 100%;
}

p.img-caption {
    font-size: var(--size-6);
    padding: var(--size-6) var(--size-1);
}

img.xs {
    width: var(--size-11);
}

img.sm {
    width: var(--size-13);
}

img.md {
    width: var(--size-14);
}

img.lg {
    width: var(--size-15);
}

img.xl {
    width: var(--size-16);
}

.icon-primary {
    color: var(--color-1);
    filter: drop-shadow(-8px 8px 0 #c9c9c9);
}

.icon {
    background-color: var(--color-1);
    background: var(--gradient-1);
    border-right: var(--size-5) solid var(--color-6);
    border-top: var(--size-5) solid var(--color-6);
    border-left: var(--size-5) solid var(--color-1);
    border-bottom: var(--size-5) solid var(--color-1);
    border-radius: var(--size-1) var(--size-9) var(--size-1) var(--size-9);
    color: var(--color-4);
    padding: var(--size-10) var(--size-9);
    margin-bottom: var(--size-6);
    text-align: center;
}

.icon-2 {
    color: var(--color-1);
}

.rounded-circle {
    border: var(--size-5) var(--color-1) solid;
}

/* Previews */

.home-include .preview:not(.home-include .preview:last-child), .preview.general {
    border-bottom: var(--size-6) solid var(--color-1);
    border-bottom-left-radius: var(--size-5);
}

.preview {
    padding-bottom: var(--size-10);
    padding-top: var(--size-10);
}

.preview-include .preview {
    margin-top: var(--size-10);
    border-top: var(--size-6) solid var(--color-1);
    border-top-left-radius: var(--size-5);
}

/* Buttons */

.btn {
    border-radius: .25rem;
    padding: var(--size-6) var(--size-6);
    filter: drop-shadow(-5px 5px 0 #c9c9c9);
}

.btn-primary, .btn-primary:visited, a.btn-primary, a.btn-primary:visited {
    color: #fff;
    background-color: var(--color-1);
    border-color: var(--color-1);
}

.btn-primary:hover, a.btn-primary:hover {
    color: #fff;
    border-color: var(--color-1);
    background: #212463;
    transition: all 0.3s ease;
    filter: drop-shadow(-5px 5px 0 #adadad);
}

/* License / Disclosure */

.license p, .disclosure p {
    font-family: var(--font-8);
}

.bg-dark {
    background-color: var(--color-1) !important;
}