<div class="row">
  <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
    {% if site.data.book.docs %}
      <ul class="list-unstyled list-inline mb-3 pb-3">
        {% for item in site.data.book.docs %}
          {% if item.url %}
            <li class="list-inline-item">
              <a href="{{ site.baseurl }}{{ item.url }}" class="btn btn-primary">{{ item.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
</div>