<div class="card-group my-3">
  {% for quotes in site.data.quotes %}
    {% if page.layout == "home" and quotes.featured != true %}
      {% continue %}
    {% endif %}

    <div class="col-12 col-sm-12 col-md-6 d-flex align-items-stretch">
      <div class="card mb-3 mx-1 border-0 px-1">
        <div class="card-body">

          <p class="text-center m-0 p-0">
            <i class="fa-solid fa-quote-left fa-xl icon-2" aria-label="Left quote"></i>
          </p>

          <p class="fs-5 my-1 py-1">{{ quotes.quote }}</p>

          <p class="text-center m-0 p-0">
            <i class="fa-solid fa-quote-right fa-xl icon-2" aria-label="Right quote"></i>
          </p>

          <p class="text-center mt-3">
            {{ quotes.name }}
            {% if quotes.title %}
              <span class="small"><br>{{ quotes.title }}</span>
            {% endif %}
            {% if quotes.organization %}
              <span class="small"><br>{{ quotes.organization }}</span>
            {% endif %}
          </p>

        </div>
      </div>
    </div>

  {% endfor %}
</div>