<div class="cards-include">
  {% if include.page %}
    {% assign pull = include.page %}
  {% else %}
    {% assign pull = page.parent %}
  {% endif %}
  {% if include.page-title and include.page-title == "" %}
    {% assign title = include.page-title %}
  {% else %}
    {% assign title = page.title %}
  {% endif %}
  {% if pull == "contents" %}
    <div class="card-group">
      {% for item in site.contents %}
        {% include card-contents.html %}
      {% endfor %}
    </div>
  {% elsif pull == "contributors" %}
    <div class="card-group">
      {% assign sorted_contributors = site.data.contributors | sort: "lastName" %}
      {% for item in sorted_contributors %}
        {% include card-contributors.html %}
      {% endfor %}
    </div>
  {% endif %}
</div>
