<div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch card-shadow-wrap">
  <div class="card card-shadow text-center rounded-0 py-4 mx-2 my-3 bg-dark w-100">
    <div class="card-body">
      <i class="{{ item.icon }} fa-3x mb-4 mt-3"></i>

      {% if page.layout == "profile" %}
        <h3 class="h5">
          <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link">{{ item.title }}</a>
        </h3>
      {% else %}
        <h4 class="h5">
          <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link">{{ item.title }}</a>
        </h4>
      {% endif %}

    </div>
  </div>
</div>