<div class="col-12 col-sm-6 col-md-3 col-lg-2 d-flex align-items-stretch card-contributor">
  <div class="card border-0">
    <div class="card-body text-center">

      {% if item.img-feat %}
        {% capture photo %}contributors/{{ item.img-feat }}{% endcapture %}
        {% include picture.html
          file=photo
          widths="400,800"
          sizes="200px"
          width="200"
          height="200"
          alt=item.img-alt
          class="card-img-top sm rounded-circle card-shadow-wrap" %}
      {% endif %}

      {% if page.title == "Contributors" %}
        <h2 class="h5">
          <a href="{{ site.baseurl }}/contributors/{{ item.name | slugify: "latin" }}" class="stretched-link">{{ item.name }}</a>
        </h2>
      {% else %}
        <h3 class="h5">
          <a href="{{ site.baseurl }}/contributors/{{ item.name | slugify: "latin" }}" class="stretched-link">{{ item.name }}</a>
        </h3>
      {% endif %}

    </div>
  </div>
</div>
