<div class="col-12 col-sm-6 col-md-3 col-lg-2 d-flex align-items-stretch card-contributor">
  <div class="card border-0">
    <div class="card-body text-center">

      {% if item.img-feat %}
        <img
          src="{{ site.baseurl }}/assets/img/contributors/{{ item.img-feat }}"
          alt="{{ item.img-alt }}"
          class="card-img-top sm rounded-circle card-shadow-wrap"
          width="200"
          height="200"
          loading="lazy">
      {% endif %}

      {% if page.title == "Contributors" %}
        <h2 class="h5">
          <a href="{{ site.baseurl }}/contributors/{{ item.name | slugify: "latin" }}" class="stretched-link">{{ item.name }}</a>
        </h2>
      {% else %}
        <h3 class="h5">
          <a href="{{ site.baseurl }}/contributors/{{ item.name | slugify: "latin" }}" class="stretched-link">{{ item.name }}</a>
        </h3>
      {% endif %}

    </div>
  </div>
</div>
