<link rel="icon" href="{{ site.baseurl }}/assets/img/favicon/favicon.ico" sizes="any">
<link rel="icon" href="{{ site.baseurl }}/assets/img/favicon/favicon-32x32.png" type="image/png">
<link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/favicon/apple-touch-icon.png">
<link rel="manifest" href="{{ site.baseurl }}/assets/img/favicon/manifest.json">
<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#121220" media="(prefers-color-scheme: dark)">
