<footer>
  {% unless page.title == "Book" or page.title == "Whoops" %}
    <div class="container footer-cta">
      <div class="row">
        <div class="col-12">
          <h2>Get Proudly Serving</h2>
          {% include get.html %}
        </div>
      </div>
    </div>
  {% endunless %}
  <div class="footer bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <a href="{{ site.baseurl }}/">
            <img
              src="{{ site.baseurl }}/assets/img/avatar.png"
              alt="{{ site.title }}"
              class="border sm footer-logo"
              width="200"
              height="200"
              loading="lazy">
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <nav aria-label="Footer">
            <ul class="nav flex-column">
              {% for item in site.data.nav %}
                <li>
                  <a href="{{ site.baseurl }}{{ item.url }}" class="nav-link">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <nav aria-label="Footer secondary">
            <ul class="nav flex-column">
              {% for item in site.data.nav-footer %}
                <li>
                  <a href="{{ site.baseurl }}{{ item.url }}" class="nav-link">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
      {% if site.org-name %}
        <div class="row mt-2 footer-copyright">
          <div class="col-12">
            <p>
              A
              <a href="{{ site.org-url }}" class="text-white">{{ site.org-name }}</a>
              project
            </p>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</footer>
{% include analytics.html %}
{% include js.html %}</body></html>
