{% if page.layout == "home" %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <img
            alt="Cover of {{ page.title }}"
            class="xl border shadow mb-4"
            src="{{ site.baseurl }}/assets/img/cover.png">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <h1 class="mb-0 display-3">{{ page.title }}</h1>
          {% if page.description %}
            <p class="lead fs-1">{{ page.description }}</p>
          {% endif %}
          {% if site.data.nav-home.docs %}
            <ul class="list-unstyled list-inline mt-3 pt-3">
              {% for item in site.data.nav-home.docs %}
                {% if item.url %}
                  <li class="list-inline-item">
                    <a href="{{ site.baseurl }}{{ item.url }}" class="btn btn-primary">{{ item.title }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
    </div>
  </div>
{% elsif page.layout == "post" %}
  <div class="bg-dark py-5 mb-5 text-white">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
          <h1>{{ page.title }}</h1>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
        <div class="row">
          <div class="col-sm-9">
            {% assign item = page %}
            <p class="lead text-white">{% include date.html %}</p>
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
    </div>
  </div>
{% elsif page.layout == "profile" %}
  <div class="bg-dark py-5 mb-5 text-white">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
          <h1>{{ page.title }}</h1>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
      </div>
    </div>
  </div>
{% else %}
  <div class="bg-dark py-5 mb-5 text-white">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
          {% if page.chapters %}
            <p class="badge badge-light rounded-0">{{ page.section }}</p>
          {% endif %}
          <h1 class="display-3">{{ page.title }}</h1>
        </div>
        <div class="col-12 col-sm-12 col-md-2 col-lg-4 col-xl-4"></div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
          {% if page.description %}
            <p class="lead">{{ page.description }}</p>
          {% endif %}
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-6 col-xl-6"></div>
      </div>
    </div>
  </div>
{% endif %}