{% if page.maintainer %}
    <span class="badge badge-primary">Maintainer</span>
{% endif %}
{% if page.contributor %}
    <span class="badge badge-secondary">Contributor</span>
{% endif %}
{% if item.maintainer %}
    <span class="badge badge-primary">Maintainer</span>
{% endif %}
{% if item.contributor %}
    <span class="badge badge-secondary">Contributor</span>
{% endif %}
{% if author_data.maintainer %}
    <span class="badge badge-primary">Maintainer</span>
{% endif %}
{% if author_data.contributor %}
    <span class="badge badge-secondary">Contributor</span>
{% endif %}
