---
layout: default
---

{% if content %}
  <div class="container border-bottom pb-5 mb-5">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        {{ content }}
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
    </div>
  </div>
{% endif %}
{% if site.data.contents.docs %}
  <div class="col-12">
    <h2 class="mb-4">Contents</h2>
    {% for section in site.data.contents.docs %}
      <h3>{{ section.name | capitalize }}</h3>
      <div class="card-group mt-4 mb-5">
        {% for chapter in section.chapters %}
          {% for item in site.contents %}
            {% if item.title == chapter %}
              {% include card-contents.html %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endif %}