---
layout: home
---

{% include header.html %}
{% include nav.html %}
<main>
    <!-- Jumbotron --> {% include jumbotron.html %}
    <div class="container section">
        <div class="row">
            <div class="col-sm-6">
                {% if page.about %}
                    <h2>About</h2>
                    <p>{{ page.about }}</p>
                    {% if site.data.nav-about.docs %}
                        <ul>
                            {% for item in site.data.nav-about.docs %}
                                {% if item.url %}
                                    <li>
                                        <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-sm-6">
                <img alt="Cover of {{ page.title }}" class="xl line shadow" src="{{ site.baseurl }}/assets/img/cover.png">
            </div>
        </div>
    </div>
    <div class="container section">
        <div class="row">
            <div class="col-sm-12">
                <h2>People</h2>
                <div class="card-deck clean">
                    {% for item in site.people %}
                        {% include card-people.html %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% if site.posts %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>News</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-deck">
                        {% for item in site.posts limit:3 %}
                        {% include card-posts.html %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="{{ site.baseurl }}/posts/" class="btn-primary">News</a>
                </div>
            </div>
        </div>
    {% endif %}
</main>
{% include analytics.html %}
{% include footer.html %}