---
layout: home
---

{% include header.html %}
{% include nav.html %}
<main id="main-content" tabindex="-1">
  {% include jumbotron.html %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% if site.data.get %}
          <h2>Book</h2>
          <ul class="list-unstyled row mt-4">
            {% for item in site.data.get %}
              {% if item.url %}
                <li class="col-12 col-md-4 col-lg-3 d-flex align-items-stretch card-shadow-wrap">
                  <div class="card text-center rounded py-2 mx-0 my-2 bg-dark w-100">
                    <div class="card-body">
                      <i class="{{ item.icon }} fa-2x mb-2" aria-label="{{ item.title }}"></i>
                      <h2 class="h5">
                        <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link">{{ item.title }}</a>
                      </h2>
                      <p class="small mb-0">({{ item.fee }})</p>
                    </div>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}

      </div>
    </div>
  </div>
  {% if site.data.quotes %}
    <div class="container border-top pt-5 mt-4">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-3">{{ site.quotes-name }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          {% include card-quotes.html %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a href="{{ site.baseurl }}{{ site.quotes-url }}" class="btn btn-primary">{{ site.quotes-name }}</a>
        </div>
      </div>
    </div>
  {% endif %}
  {% if site.contents %}
    <div class="container border-top pt-5 mt-4">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-4">{{ site.contents-name }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          {% for section in site.data.contents.docs %}
            <h3>{{ section.name | capitalize }}</h3>
            <div class="card-group mt-4 mb-5">
              {% for chapter in section.chapters %}
                {% for item in site.contents %}
                  {% if item.title == chapter %}
                    {% include card-contents.html %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  {% if site.data.contributors %}
    <div class="container border-top pt-5">
      <div class="row">
        <div class="col-sm-12">
          <h2>{{ site.contributors-name }}</h2>
          <div class="card-group mt-4 mb-0">
            {% assign sorted_contributors = site.data.contributors | sort: "lastName" %}
            {% for item in sorted_contributors %}
              {% include card-contributors.html %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</main>
{% include footer.html %}