---
layout: page
---

{% include header.html %}
{% include nav.html %}
<main id="main-content" tabindex="-1">
  {% include jumbotron.html %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="post">
          {% if page.author %}
            <p>
              {% include author.html %}
            </p>
          {% endif %}
          <articlebody>
            {% include anchor_headings.html html=content anchorBody="<i class='fa-solid fa-link'></i>" anchorClass="heading-hashtag" %}
          </articlebody>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        {% include toc.html html=content %}
      </div>
    </div>
  </div>
  {% if page.author %}
    <div class="container mt-3">
      <div class="row">
        <div class="col-12 mb-3">
          <h2 class="mb-3">
            {% if page.author.size > 1 %}Authors{% else %}Author{% endif %}
          </h2>
        </div>
      </div>
    </div>
    {% for author in page.author %}
      {% assign author_data = site.data.contributors | where: "name", author | first %}
      {% if author_data %}
        <div class="container mb-3">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
              {% if author_data.img-feat %}
                <a href="{{ site.baseurl }}/contributors/{{ author_data.name | slugify }}" title="{{ author_data.name }}">
                  <img
                    src="{{ site.baseurl }}/assets/img/contributors/{{ author_data.img-feat }}"
                    alt="{{ author_data.img-alt }}"
                    title="{{ author_data.name }}"
                    class="md rounded-circle card-shadow-wrap mb-3">
                </a>
              {% endif %}
            </div>
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
              <h3 class="mb-3">{{ author_data.name }}</h3>
              <div class="mb-4">
                {{ author_data.bio }}
              </div>
              {% include social.html %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% include next.html %}
</main>
{% include footer.html %}