---
layout: page
---

{% include header.html %}
{% include nav.html %}
<main id="main-content" tabindex="-1">
  {% include jumbotron.html %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="post">
          {% if page.author %}
            <p>
              {% include author.html %}
            </p>
          {% endif %}
          <article>
            {% include anchor_headings.html html=content anchorBody="<svg class='icon' aria-hidden='true'><use href='#icon-link'></use></svg>" anchorClass="heading-hashtag" %}
          </article>
        </div>
      </div>
      <div class="col-12 col-md-4">
        {% include toc.html html=content %}
      </div>
    </div>
  </div>
  {% if page.author %}
    <div class="container author-section">
      <div class="row">
        <div class="col-12">
          <h2>
            {% assign author_count = 0 %}{% for a in page.author %}{% assign author_count = author_count | plus: 1 %}{% endfor %}{% if author_count > 1 %}Authors{% else %}Author{% endif %}
          </h2>
        </div>
      </div>
    </div>
    {% for author in page.author %}
      {% assign author_data = site.data.contributors | where: "name", author | first %}
      {% if author_data %}
        <div class="container author-block">
          <div class="row">
            <div class="col-12 col-md-2">
              {% if author_data.img-feat %}
                <a href="{{ site.baseurl }}/contributors/{{ author_data.name | slugify: "latin" }}">
                  <img
                    src="{{ site.baseurl }}/assets/img/contributors/{{ author_data.img-feat }}"
                    alt="{{ author_data.img-alt }}"
                    class="md rounded-circle card-shadow-wrap author-photo"
                    width="240"
                    height="240"
                    loading="lazy">
                </a>
              {% endif %}
            </div>
            <div class="col-12 col-md-10">
              <h3>{{ author_data.name }}</h3>
              <div class="author-bio">
                {{ author_data.bio }}
              </div>
              {% include social.html %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% include next.html %}
</main>
{% include footer.html %}
