---
layout: profile
---

{% include header.html %}
{% include nav.html %}
<main id="main-content" tabindex="-1">
  {% include jumbotron.html %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <img
          src="{{ site.baseurl }}/assets/img/contributors/{{ page.img-feat }}"
          class="lg rounded-circle shadow-offset profile-avatar"
          alt="{{ page.title }}">
      </div>
      <div class="col-12 col-md-6">
        <div class="post">
          <div class="profile-bio">
            <h2>About</h2>
            {{ page.bio }}
          </div>
          {% include social.html %}
        </div>
      </div>
    </div>
  </div>
  {% assign chapters = site.contents | where: "author", page.title %}
  {% if chapters.size > 0 %}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Chapters</h2>
          <div class="card-group">
            {% for item in chapters %}
              {% include card-contents.html %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</main>
{% include footer.html %}